# Dependencies
app/node_modules
backend/node_modules

# Build output
app/dist

# Environment files
app/.env
app/.env.local
app/.env.*.local

# Logs
*.log
npm-debug.log*

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Large binary files (screenshots)
*.png
*.jpg
*.jpeg
*.gif
*.mp4
*.mov

# Reports (generated)
*report*.md
*audit*.md
*validation*.md
*verification*.md
*optimization*.md
*research*.md
ai_companion_*.md
architecture_*.md
hardcoded_*.md
frontend_refactor_*.md
full_audit_*.md
schema_validation*.md
security_*.md
supabase_technical_*.md
workflow_*.md
round*.md
